{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Make better spending decisions. Keep track of your finances.">
    <title>Dashboard - SLAKEnet</title>
{% endblock %}

{% block content %}
<div class="content-grid mdl-grid">
    <div class="wallet-padded-mini wallet-dashboard-section mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="wallet-slogan">NGN: {{ balance }}</div>
        <div class="wallet-sub-slogan">Start slaking in the market square</div>
</div>
    
<!-- DEAL WITH  SLAKES -->
<!-- <div class="buyslakes"> -->
<div>
    <!-- <div class="container-fluid"> -->
    <div>
        <!-- <div class="row"> -->
        <div>
            <!-- <div class="col-md-12"> -->
            <div>
                <!-- <div class="border_testi"> -->
                <div>
                    <div class="row">
                        <div class="col-md-12"><!-- 
                            <div class="title text_align_center">
                                <h2>Marketplace</h2>
                            </div> -->
                            <div class="warpper">
                                <input class="radio" id="earn" name="group" type="radio">
                                <input class="radio" id="buy" name="group" type="radio" checked>
                                <input class="radio" id="Soon" name="group" type="radio">
                                <!-- <p class="text_align_center">Pay with:</p> -->
                                <div class="tabs text_align_center">
                                    <label class="tab" id="earn-tab" for="earn">Earn</label>
                                    <label class="tab" id="buy-tab" for="buy">Buy airtime</label>
                                    <label class="tab" id="Soon-tab" for="Soon">Coming soon</label>
                                </div>
                                <div class="panels">
                                    <div class="panel" id="earn-panel">
                                        <div class="panel-title">Earn from taking surveys</div>
                                        <div class="Marketplace text_align_center">
                                            <p>Select a survey from the list and start earning!</p>
                                            <!-- Complete python script to exempt surveys that have already been taken by the user -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="testomoniam_text text_align_center">
                                                        <i><img src="static/images/graf2.jpg" alt="#"/></i>
                                                        <p></p>
                                                        <button><a href="/done/{{ i_title }}"> Done</a></button>
                                                        <button>Share</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="testomoniam_text text_align_left">
                                                        <div id="wa_hover" class="wallet_box text_align_center">
                                                            <a href="/survey/{{ i_title }}" id='i_' target="_blank">
                                                                <!-- <i><img src="static/images/wa3.svg" alt="#"/></i> -->
                                                                <h3>{{ i_title }}</h3>
                                                                <p>{{ i }}</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="testomoniam_text text_align_center">
                                                        <i><img src="static/images/graf2.jpg" alt="#"/></i>
                                                        <p></p>
                                                        <button><a href="/done/{{ j_title }}"> Done</a></button>
                                                        <button>Share</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="testomoniam_text text_align_left">
                                                        <div id="wa_hover" class="wallet_box text_align_center">
                                                            <a href="/survey/{{ j_title }}" class="{{ j_title }}" id="j" target="_blank">
                                                                <h3>{{ j_title }}</h3>
                                                                <p>{{ j }}</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel" id="buy-panel">
                                        <div class="panel-title">Purchase airtime</div>
                                        <div class="Marketplace text_align_center">
                                            <p>Choose your Cellular Network:</p>
                                            <form>
                                                <select name="networks" onchange="combo(this, 'network')" id="network">
                                                <option>MTN</option>
                                                <option>GLO</option>
                                                <option>Airtel</option>
                                                <option>9 Mobile</option>
                                            </select>
                                        </form>
                                        <p>1 SLAKE is 1 NGN</p>
                                        <p>Warning: we don't refund if your funds are sent to the wrong phone number</p>
                                        <p>Amount in Naira: <input type="number" name="amount" min = "10" max = "5000" value="500" id="amount"></p>
                                        <input type="text" name="phone_number" placeholder="Your phone number" id="phone_number">
                                        <button class="button", onclick="get_AT_values()">Fund</button>
                                    </div>
                                </div>
                                <div class="panel" id="Soon-panel">
                                    <div class="panel-title">Coming soon features.</div>
                                    <p>This is just the tip of the Iceberg, Slakenet is bringing mind blowing solutions to make your use of the internet as a reliable source of communication even better</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
